In [1]:
# The code was removed by Watson Studio for sharing.

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,100,India,4007,"Ammonia, anhydrous",5610,Import Quantity,2002,2002,tonnes,1279348.13,Qm
1,100,India,4007,"Ammonia, anhydrous",5610,Import Quantity,2003,2003,tonnes,979985.94,Qm
2,100,India,4007,"Ammonia, anhydrous",5610,Import Quantity,2004,2004,tonnes,1189895.82,Qm
3,100,India,4007,"Ammonia, anhydrous",5610,Import Quantity,2005,2005,tonnes,1731417.05,Qm
4,100,India,4007,"Ammonia, anhydrous",5610,Import Quantity,2006,2006,tonnes,1781431.57,Qm