In [1]:
import mysql.connector as connection

In [3]:
mydb=connection.connect(host="localhost",user="root",passwd="pravleen",use_pure=True)
print(mydb.is_connected())
mydb.close()

True

In [11]:
mydb=connection.connect(host="localhost",user="root",passwd="pravleen",use_pure=True)
query="SHOW DATABASES"
cursor=mydb.cursor()
#print(cursor.execute(query))
print(type(cursor.execute(query)))
print(cursor.fetchall())
mydb.close()

<class 'NoneType'>
[('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]

In [31]:
# CREATE OWN DATABASE
import mysql.connector as connection
mydb=connection.connect(host="localhost",user="root",passwd="pravleen",use_pure=True)
print(mydb.is_connected())
query="Create database Pravleen1;"
cursor=mydb.cursor()
cursor.execute(query)
print("Database created")

True
Database created

In [32]:

# CREATE A TABLE
mydb=connection.connect(host="localhost",database="Pravleen1",user="root",passwd="pravleen",use_pure=True)
print(mydb.is_connected())
query="CREATE TABLE StudentDetails (Studentid INT(10) AUTO_INCREMENT PRIMARY KEY,FirstName VARCHAR(60)," \
            "LastName VARCHAR(60), RegistrationDate DATE,Class Varchar(20), Section Varchar(10))"
cursor=mydb.cursor()
cursor.execute(query)
print("Table created")
mydb.close()

True
Table created

In [33]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",database="Pravleen1",user="root",passwd="pravleen",use_pure=True)
    # check if the connection is established
print(mydb.is_connected())
query = "INSERT INTO StudentDetails VALUES ('1135','Sachin','Kumar','1997-11-11','Eleventh','A')"
cursor = mydb.cursor() #create a cursor to execute queries    cursor.execute(query)
print("Values inserted into the table!!")
mydb.commit() #whenever we have to insert data we use commit
mydb.close()

True
Values inserted into the table!!

In [34]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="pravleen",
  database="Pravleen1"
)

mycursor = mydb.cursor()

sql = "INSERT INTO StudentDetails VALUES ('1135','Sachin','Kumar','1997-11-11','Eleventh','A')"
mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [36]:
import mysql.connector as connection
mydb = connection.connect(host="localhost", database='Pravleen1', user="root", passwd="pravleen", use_pure=True)
# check if the connection is established
print(mydb.is_connected())
query = "UPDATE studentdetails SET FirstName = 'Kumar', LastName = 'Sachin' WHERE Studentid = 1132"
cursor = mydb.cursor()  # create a cursor to execute queries
cursor.execute(query)
mydb.commit()
#let's check if the value is updated in the table.
for result in cursor.fetchall():
        print(result)
mydb.close()  # close the connection

True

InterfaceError: No result set to fetch from.

In [24]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",database="Pravleen",user="root",passwd="pravleen",use_pure=True)
    # check if the connection is established
print(mydb.is_connected())
query = "INSERT INTO StudentDetails VALUES ('1136','Sachin','Kumar','1997-11-11','Eleventh','A')"
cursor = mydb.cursor() #create a cursor to execute queries    cursor.execute(query)
print("Values inserted into the table!!")
mydb.commit() #whenever we have to insert data we use commit
mydb.close()

True
Values inserted into the table!!

In [27]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",database="Pravleen",user="root",passwd="pravleen",use_pure=True)
    # check if the connection is established
print(mydb.is_connected())
query = "Select * from studentdetails;"
cursor = mydb.cursor() #create a cursor to execute queries    cursor.execute(query)
cursor.execute(query)
print("Values inserted into the table!!")
for result in cursor.fetchall():
        print(result)
mydb.commit() #whenever we have to insert data we use commit
mydb.close()

True
Values inserted into the table!!
(1132, 'Sachin', 'Kumar', datetime.date(1997, 11, 11), 'Eleventh', 'A')

In [37]:
import mysql.connector as connection


try:
    mydb = connection.connect(host="localhost", database = 'Pravleen1',user="root", passwd="pravleen",use_pure=True)
    #check if the connection is established
    
    
    query = "Select * from studentdetails;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)
    mydb.close() #close the connection


except Exception as e:
    #mydb.close()
    print(str(e))

True
(1135, 'Sachin', 'Kumar', datetime.date(1997, 11, 11), 'Eleventh', 'A')

In [38]:
# READ DATA USING PANDAS

In [45]:
import mysql.connector as connection
import pandas as pandas

try:

    mydb = connection.connect(host="localhost", database='Pravleen1', user="root", passwd="pravleen", use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "Select * from studentdetails;;"
    result_dataFrame = pandas.read_sql(query,mydb)
    result_dataFrame

    mydb.close()  # close the connection

except Exception as e:
    #mydb.close()
    print(str(e))

True

In [46]:
result_dataFrame

   Studentid FirstName LastName RegistrationDate     Class Section
0       1135    Sachin    Kumar       1997-11-11  Eleventh       A

In [48]:
import mysql.connector as connection

try:

    mydb = connection.connect(host="localhost", database='Pravleen1', user="root", passwd="pravleen", use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "DELETE FROM studentdetails WHERE Studentid = 1135"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    mydb.commit()

    #let's check if the value is updated in the table.
    query = "Select * from studentdetails where Studentid=1122;"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)

    mydb.close()  # close the connection

except Exception as e:
    #mydb.close()
    print(str(e))

True

In [55]:
import mysql.connector as connection
import pandas as pandas
import csv

try:
    mydb = connection.connect(host="localhost", user="root", passwd="pravleen",use_pure=True)
    #check if the connection is established
    print(mydb.is_connected())
    #create a new database
    query = "Create database GlassData1;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database Created!!")
    mydb.close() #close the connection

    #Establish a new connection to the database created above
    mydb = connection.connect(host="localhost", database = 'GlassData1',user="root", passwd="pravleen", use_pure=True)

    #create a new table to store glass data
    query = "CREATE TABLE IF NOT EXISTS GlassData (Index_Number INT(10),RI float(10,5), Na float(10,5), Mg float(10,5),Al float(10,5)," \
            " Si float(10,5), K float(10,5), Ca float(10,5), Ba float(10,5), Fe float(10,5), Class INT(5))"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")

    #read from the file
    with open('glass.data', "r") as f:
        next(f)
        glass_data = csv.reader(f, delimiter="\n")
        for line in enumerate(glass_data):
            for list_ in (line[1]):
                cursor.execute('INSERT INTO GlassData values ({values})'.format(values=(list_)))
    print("Values inserted!!")
    mydb.commit()
    cursor.close()
    mydb.close()

except Exception as e:
    #mydb.close()
    print(str(e))

True
Database Created!!
Table Created!!
Values inserted!!

IndentationError: unexpected indent (<ipython-input-54-16baa60e85fb>, line 4)